#mySlider.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='mySlide' data-slide-to='0')
          li(data-target='mySlide' data-slide-to='1')
          li(data-target='mySlide' data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img.d-vlock.img-fluid(src='../img/slider1.png' alt='image')
          .carousel-item
            img.d-vlock.img-fluid(src='../img/slider2.png' alt='image')
          .carousel-item
            img.d-vlock.img-fluid(src='../img/slider3.png' alt='image')
        a.carousel-control-prev(href='#mySlider' data-slide='prev')
          span.carousel-control-prev-icon
        a.carousel-control-next(href='#mySlider' data-slide='next')
          span.carousel-control-next-icon