extends ../layouts/main-layout.pug

block content

    .alert.alert-warning
        h1.text-center 500 INTERNAL SERVER ERROR
        h3.text-center Something wrong but... 
        a(href="/").btn.btn-primary.d-flex.justify-content-center.m-4 return home